div{
    width: 300px;
    height: 150px;
    border: 2px solid orange;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
div2{margin-left: 20px;
}
.container{
    background-color: yellow;
    border: 2px solid blue;
    width: 400px;
    
}