
/*
селектор {
    свойство1: значение1
    свойство2: значение2
    ........
    свойство20: значение 20


p{
    font-size: 14px  размер шрифта в пикселях ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; олщина normal-400, bold-600/800
    font-style: italic; italic, normal
    font-stretch: wider; раccтяжение 
    /* color: blue; стандартное значение
    color: #0000FF; 16- код
    color: rgb(157, 173, 153) модель красный, зеленый, синий
    color: rgba(157, 173, 153); модель красный, зеленый, синий, а - прозрачность
    color: rgba(65, 65, 107);
    background-color: yellow; /* фон выделения
    text-transform: lowercase; /* регистр uppercase, lowercase
    letter-spacing: 5px;
    word-spacing: 10px;
   /* opacity: 05; /* прозрачность
   
   /*
}

    h1{
        color: red;
    }
    h2 {color: orange;
    }
    */
/* атрибут класс является глобальным и можно задать для любого элемента 
созданый класс стилей можно использовать для любого колличества эллементов


    .mark_for_paragraph{
        background-color: yellow;
        font-weight: bold;
    }
.bigsize_for_paragraph{
    font-size: 22px;
}
    p{font-size: 16px;
    font-weight: normal;}
    .mops{
        height: 400px;
        width: 400px;
    }
    */
.cardContainer{
    border: 2px solid blue;
    border-radius: 10px;
    /*
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    */
    width: 400px;
    height: 600px;
}
.photoContainer{
    margin: 10px; /* внешние отступы все по 10 микселей */
    /* margin: 40px 10px 10px 10px; */
    margin-top: 40px;
    margin-right: ;
    margin-left: ;
    margin-bottom: ; 
    border-radius: 100px;
    background-image: url('https://cdn.uarizonabootcamp.com/wp-content/uploads/sites/56/2019/06/BlogImage_WebDeveloper1.jpg');
    border: 2px solid gray;
    width: 200px;
    height: 200px;
    background-size: cover; /* растяжимость и заполнение изображения cover - обрезать и заполнить контейне, contain - заполнит контейнер с большей стороны ( если repeat */
    background-repeat: no-repeat; /*не дублировать изображения */
    box-sizing: border-box; /* пересчет отступов и полей для контейнера */
}
.infoContainer{
    border: 1px solid gray;
}
.userName{
    font-weight: bold;
    font-size: 30px;
    color: rgba(0, 0, 0.1);
    /* размещение текста */
    text-align: center;
}
.userJob{
    font-weight: 25px;
    color: rgba(0, 0, 0.5);
}
.buttonStyle{
    border: 1px solid black;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: black;
    border-color: cornflowerblue;
    text-align: center;
}
li{
    border: 1px solid red;
    font-size: 20px;

}